.leftmenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 15px;
	letter-spacing: -0.04em;
}

.leftOrderOnline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 15px;
	letter-spacing: -0.02em;

	text-decoration: underline;
}

a:link {
	text-decoration: none;
	color: #10086B;
}

a:visited {
	text-decoration: none;
	color: #10086b;
}

a:hover {
	color: #004fc4;
	text-decoration: underline;
}

a:active {
	text-decoration: none;
	color: #10086b;
}

.menu {
	color: #10086b;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.details {
	color: #F20026;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
}

.heading {
	color: #10086b;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.columnHeader {
	color: #F20026;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
}


.ways {
	color: #f20026;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	font-style: italic;
}

.wayschart {
	color: #10086b;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
}